<p>socgen-employee-list works!</p>
<div >
        <p-table [columns]="columns" [value]="SocgenEmployeelist" dataKey="SocgenEmployeeid">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                    <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                            <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            <input *ngSwitchCase="'firstName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            <input *ngSwitchCase="'lastName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            <input *ngSwitchCase="'gender'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            <input *ngSwitchCase="'dob'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            <input *ngSwitchCase="'department'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                        </th>
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData" [pRowToggler]="rowData"> 
                        <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
    </p-table>
</div>